# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
real/

# Environment variables
.env
.venv

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo

# Results/Data
results/
*.csv
*.log

results
*.DS_Store
browser-use
browseruse
learnstagehand
udrive
build
.trash

**/.claude/settings.local.json
